<h2>Pagamentos Cadastrados</h2>
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th><input type="checkbox" id="selectAll" onclick="toggleSelectAll(this)"></th>
                <th onclick="sortTable(1)">ID <i class="fas fa-sort"></i></th>
                <th onclick="sortTable(2)">Descrição <i class="fas fa-sort"></i></th>
                <th onclick="sortTable(3)">Valor <i class="fas fa-sort"></i></th>
                <th onclick="sortTable(4)">Data <i class="fas fa-sort"></i></th>
                <th onclick="sortTable(5)">Categoria <i class="fas fa-sort"></i></th>
                <th onclick="sortTable(6)">Subcategoria <i class="fas fa-sort"></i></th>
                <th onclick="sortTable(7)">Banco <i class="fas fa-sort"></i></th>
                <th onclick="sortTable(8)">Parcela <i class="fas fa-sort"></i></th>
                <th onclick="sortTable(9)">Quantidade de Parcelas <i class="fas fa-sort"></i></th>
                <th onclick="sortTable(10)">Cartão <i class="fas fa-sort"></i></th>
                <th onclick="sortTable(11)">Status <i class="fas fa-sort"></i></th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for pagamento in pagamentos %}
            <tr>
                <td><input type="checkbox" class="selectItem" value="{{ pagamento[0] }}"></td>
                <td>{{ pagamento[0] }}</td>
                <td>{{ pagamento[1] }}</td>
                <td>{{ pagamento[2] }}</td>
                <td>{{ pagamento[3] }}</td>
                <td>{{ pagamento[4] }}</td>
                <td>{{ pagamento[5] }}</td>
                <td>{{ pagamento[6] }}</td>
                <td>{{ pagamento[7] }}</td>
                <td>{{ pagamento[8] }}</td>
                <td>{{ pagamento[9] }}</td>
                <td>{{ pagamento[10] }}</td>
                <td>
                    <form action="{{ url_for('atualizacao.pagar_pagamento', id=pagamento[0]) }}" method="post" style="display:inline;">
                        <button type="submit" class="btn btn-sm btn-success" title="Pagar" onclick="return confirm('Tem certeza que deseja pagar este pagamento?');">
                            <i class="fas fa-check"></i>
                        </button>
                    </form>
                    <a href="{{ url_for('atualizacao.editar_pagamento', id=pagamento[0]) }}" class="btn btn-sm btn-warning" title="Editar">
                        <i class="fas fa-edit"></i>
                    </a>
                    <form action="{{ url_for('exclusao.excluir_pagamentos', id=pagamento[0]) }}" method="post" style="display:inline;">
                        <button type="submit" class="btn btn-sm btn-danger" title="Excluir" onclick="return confirm('Tem certeza que deseja excluir este pagamento?');">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </form>
                    <button class="btn btn-sm btn-info" title="Anexos" onclick="openAnexoModal({{ pagamento[0] }})">
                        <i class="fas fa-paperclip"></i>
                    </button>
                    {% if pagamento[11] %} <!-- Verifica se o pagamento tem anexo -->
                    <button class="btn btn-sm btn-danger" title="Excluir Anexo" onclick="excluirAnexo({{ pagamento[0] }})">
                        <i class="fas fa-times"></i>
                    </button>
                    <button class="btn btn-sm btn-success" title="Baixar Anexo" onclick="downloadAnexo({{ pagamento[0] }})">
                        <i class="fas fa-download"></i>
                    </button>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Modal para Upload de Anexo -->
{% include './modal/modal_anexo.html' %}