<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Cartão</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles_cartao.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <div class="d-flex">
        <div class="sidebar bg-dark text-white p-3">
            <h2>Menu</h2>
            <ul class="list-unstyled">
                <li><a href="{{ url_for('auth.home') }}" class="text-white">Início</a></li>
                <li><a href="{{ url_for('pagamento.cadastrar_pagamento') }}" class="text-white">Cadastrar Pagamento</a></li>
                <li><a href="{{ url_for('banco.cadastrar_banco') }}" class="text-white">Cadastrar Banco</a></li>
                <li><a href="{{ url_for('categoria.cadastrar_categoria') }}" class="text-white">Cadastrar Categoria</a></li>
                <li><a href="{{ url_for('cartao.cadastrar_cartao') }}" class="text-white">Cadastrar Cartão</a></li>
                <li>
                    <form action="{{ url_for('auth.logout') }}" method="post" style="display: inline;">
                        <input type="submit" value="Logout" class="btn btn-link text-white p-0">
                    </form>
                </li>
            </ul>
        </div>
        <div class="content flex-grow-1 p-3">
            <h1>Cadastrar Cartão</h1>
            <form id="cadastroCartaoForm" action="/cadastrar_cartao" method="post" class="form-grid">
                <div class="form-group">
                    <label for="nome">Nome</label>
                    <input type="text" id="nome" name="nome" class="form-control" placeholder="Digite o nome do cartão" required>
                </div>
                <div class="form-group">
                    <label for="banco">Banco</label>
                    <input type="text" id="banco" name="banco" class="form-control" placeholder="Digite o banco" required>
                </div>
                <div class="form-group">
                    <label for="limite">Limite</label>
                    <input type="number" id="limite" name="limite" class="form-control" placeholder="Digite o limite" required>
                </div>
                <div class="form-group">
                    <label for="data_vencimento">Data de Vencimento</label>
                    <input type="date" id="data_vencimento" name="data_vencimento" class="form-control" required>
                </div>
                <div class="form-group">
                    <input type="submit" value="Cadastrar" class="btn btn-primary">
                </div>
            </form>

            <!-- Incluir a tabela -->
            {% include './tabelas/tabela_cartoes.html' %}
        </div>
    </div>
</body>
</html>